---
# tasks file for cyhy_commander

#
# Install curl and unzip; they are needed by cyhy_core/var/load_places.sh
#
- name: Install curl and unzip
  ansible.builtin.package:
    name:
      - curl
      - unzip

# TODO: Figure out why we can't just put docutils in cyhy-commander/setup.py
- name: Install cyhy-commander and docutils (a cyhy-commander dependency)
  ansible.builtin.pip:
    executable: /usr/bin/pip2
    name:
      - https://api.github.com/repos/cisagov/cyhy-commander/tarball/develop
      - docutils

# Create some directories
- name: Create some directories that cyhy-commander requires
  ansible.builtin.file:
    group: "{{ file_owner_group | default(omit) }}"
    mode: 0755
    owner: "{{ file_owner_username | default(omit) }}"
    path: "{{ item }}"
    state: directory
  loop:
    - /var/cyhy/commander
    - /var/log/cyhy

# Copy the systemd unit file
- name: Copy the systemd unit file for cyhy-commander
  ansible.builtin.copy:
    dest: /lib/systemd/system/cyhy-commander.service
    mode: 0644
    src: cyhy-commander.service

# Don't enable cyhy-commander here; we do that when we spin up an instance
# so remaining setup tasks can be completed first
