[Unit]
Description=Run cyhy-domainsync hostname housekeeping script.

[Service]
# --no-owned flag skips resolved IP addresses that are owned
# by a CyHy entity other than the default owner
# TODO: Remove --no-owned flag when no longer needed (see issue #95)
ExecStart=/usr/local/bin/cyhy-domainsync --no-owned
Type=oneshot
